<div class="container">
  <style type="text/css">
    td {
      padding-top: .5em;
      padding-right: .5em;
      padding-bottom: .5em;
    }

    tr:nth-child(even) {
      background-color: #fafafa;
    }
    th {
      text-align: left;
    }
  </style>
  <p id="notice"><%= notice %></p>

<h1>Listing Job Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Date</th>
      <th>Poster</th>
      <th colspan="3"></th>
<form class="mainnav-form" role="search" action="/job_posts" method="get">
<input type="text" class="form-control input-md mainnav-search-query" name="q" placeholder="Search Jobs" value="<%= @previous_search %>">
<button class="btn btn-sm mainnav-form-btn"><i class="fa fa-search"></i></button>
</form>
    </tr>
  </thead>

  <tbody>
    <% if @job_posts %>
      <% @job_posts.each do |job_post| %>
        <tr>
          <td><%= link_to "#{job_post.title}", job_post %></td>
          <td><%= job_post.description %></td>
          <td><%= job_post.date.strftime("%B %d, %Y") %></td>
          <td><%= link_to job_post.title, controller: "job_posts", action: "show", id: job_post.id%></td>
        </tr>
      <% end %>
    <% end %>
    <% if @search_results %>
      <% @search_results.each do |job_post| %>
        <tr>
          <td><%= link_to job_post.title, controller: "job_posts", action: "show", id: job_post._id%></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


  <br>

  <%= link_to 'New Job post', new_job_post_path %>
</div>
