<p id="notice"><%= notice %></p>
<style type="text/css">
  .title {
  font-size: 3em;
  font-weight: bold;
  }

  .sm-font {
  font-size: .75em;
  }

  .wrapper {
    background: #fafafa;
    border: 1px solid #dadada;
    padding: 1em;
    width: 75%;
    float: left;
  }

  .poster-card {
    background: #fafafa;
    border: 1px solid #dadada;
    padding: 1em;
    width: 20%;
    float: right;
  }

  .poster-card img {
    width: 40%;
    height: 40%;
    float: left;
  }
</style>

<div class="container">
  <p class="title">
    <%= @job_post.title %>
    
  </p>
  <div class="arrow-up wrapper">
    <p>
      <%= @job_post.date.strftime("%b %d, %Y") %>
      <div class="sm-font">
      Posted <%= time_ago_in_words(@job_post.date) %> ago
      </div>
    </p>

    <p>
      <%= @job_post.description %>
    </p>

      <%= link_to 'Edit', edit_job_post_path(@job_post) %> |
      <%= link_to 'Back', job_posts_path %>
  </div>
  <div class="poster-card">
    <h4>Posted by:</h4>
    <h4><%= link_to "#{@job_post.poster_name}", user_path(@job_post.user_id) %></h4>
    <%= gravatar_for @job_post.user %>
  </div>
</div><br>